.bg-container {
  width: 100vw;
  height: 100vh;
  background: url("/bg-green-black.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 650px;
  padding: 60px 40px;
  background: rgba(20, 20, 20, 0.85);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  text-align: center;
  box-shadow: 0 0 35px rgba(0, 255, 100, 0.15);
}

.title {
  color: #00ff57;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 35px;
}

.subtitle {
  color: #00ff57;
  font-size: 18px;
  margin-bottom: 35px;
}

.input-row {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 45px;
}

.code-input {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.06);
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.code-input:focus {
  background: rgba(0, 255, 100, 0.1);
  border: 2px solid #00ff57;
}

.btn-send {
  width: 260px;
  height: 65px;
  background: #00ff57;
  border: none;
  border-radius: 40px;
  color: #0d0d0d;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 25px #00ff57;
  transition: 0.2s;
}

.btn-send:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #00ff57;
}
