#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  gap: 20px;
}

/* COLUNA ESQUERDA */
.left-box {
  width: 420px;
  height: 540px;
  background: #e8e8e8;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
}

.title-left {
  font-size: 16px;
  margin-bottom: 30px;
}

.clock {
  font-size: 48px;
  color: #00b220;
  margin-top: 20px;
}

.touch-icon img {
  width: 130px;
  margin-top: 30px;
  color: #00b220;
}

/* COLUNA DIREITA */
.right-box {
  width: 420px;
  height: 540px;
  background: #f2f2f2;
  padding: 30px;
  border-radius: 15px;
}

.last-register {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.location-text {
  margin: 10px 0;
  font-size: 15px;
}

.map img {
  width: 100%;
  border-radius: 8px;
  margin-top: 5px;
}

.btn-register {
  width: 100%;
  background: #00c133;
  border: none;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
  padding: 10px 18px;
  border-radius: 5px;
  border: 1px solid #808080;
  background: white;
  cursor: pointer;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
