body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:  black;
  background-color: white;
}
h1 {
  color: white;
}



header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid black;
  background: black;
}

.sidebar {
  width: 64px;
  background: #efefef;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 24px;
}