body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:  black;
  background-color: white;
}
h1 {
  color: white;
}



header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid black;
  background: black;
}

.sidebar {
  width: 64px;
  background: #efefef;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 24px;
}

.card {
  background: #f0e9f2;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  text-align: center;
}

.btn {
  padding: 10px 32px;
  background: #00bf2a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.time-input {
  width: 80px;
  height: 56px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
}

.am-pm-btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.am {
  background: #f8c9d8;
}

.pm {
  background: #fff;
}
